@tailwind base;
@tailwind components;
@tailwind utilities;


/* 필요하면 reset / custom 추가 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.ProseMirror {
  min-height: 400px; /* 처음부터 크게 */
  outline: none; /* 클릭 시 테두리 제거 */
}
